.logo h1 {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.logo-code {
  vertical-align: super;
  font-size: 14px;
  color: #F7C948;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: -6px;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 200px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  box-shadow: 2px 0 5px rgba(160, 159, 159, 0.1);
  z-index: 1000;
  overflow-y: auto;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  transition: color 0.3s;
  font-family: 'cairo';
  letter-spacing: 1.5px;
}

.nav-links a:hover,
.nav-links a.active {
  color: #F7C948;
}

.sidebar-footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.sidebar-footer a {
  color: #ffffff;
  transition: color 0.3s ease;
}

.sidebar-footer a:hover {
  color: #F7C948;
}

/* Responsive Navbar */
@media (max-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 4rem;
    box-shadow: 0 2px 5px rgba(160, 159, 159, 0.1);
  }

  .nav-links {
    flex-direction: row;
    gap: 1.5rem;
  }

  .sidebar-footer {
    display: none; /* إخفاء الأيقونات عند الشاشات الصغيرة */
  }
}
