* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1024px) {
  .whyme-container {
    padding-left: 200px; 
    padding-right: 2rem;
  }
}

@media (max-width: 768px) {
  .whyme-container {
    padding-left: 2rem; 
    padding-right: 2rem;
  }

  .whyme-cards {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 60px; 
  }

  .nav-links a {
    font-size: 0.9rem;
  }
}
